# dependencies
/node_modules

# testing
/coverage

# production
public/index.html
public/privacy-policy/index.html
/public/index.html
/public/privacy-policy/index.html
Landing/public/index.html
Landing/public/privacy-policy/index.html
/Landing/public/index.html
/Landing/public/privacy-policy/index.html
landing/public/index.html
landing/public/privacy-policy/index.html
/landing/public/index.html
/landing/public/privacy-policy/index.html
/public/img

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*